<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Notes App</title>
    </head>

<body>
    <!-- <div class="container ">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    
    <div id="notes" class="container">
        <div v-for="note in notes" class="card mr-3 d-inline-block" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" v-html="note.id"></h5>
              <h6 class="card-subtitle mb-2 mr-3 text-muted d-inline-block" v-for="user in note.user" v-html="user.nombre"></h6>
              <p class="card-text" v-html="note.note"></p>
              <a href="#" class="card-link"></a>
            </div>
          </div>
    </div> -->
    <div id="notes" class="container pt-5">
        <form method="POST">
            <div class="form-group">
                <label for="users">Users</label>
                <select class="form-control" name="users" multiple>
                    <option v-for="user in users" v-bind:value="user.id" v-html="user.nombre">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <textarea type="text" class="form-control" name="note" placeholder="Add description"></textarea>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input class="form-control" id="date" type="date" name="end_date">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" name="type" v-model="selected">
                            <option v-for="type in types" v-bind:value="type.value" v-html="type.text">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile">
            </div>
            
            <div class="form-group">
                <label for="checkbox">Task</label>
                <input type="checkbox" id="checkbox" v-model="checked">
            </div>
            
            <div class="form-group">
                <label>Tags</label>
                <input type="text" data-role="tagsinput" class="form-control" name="tags">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="row mb-2 posts">
                <div class="col-md-6" v-for="note in notes">
                    <div class="cards">
                        <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="my-1" v-html="note.id"></h3>
                                <div style="display:flex">
                                    <a v-for="user in note.user" class="mr-1 badge badge-info" v-html="user.nombre"></a>
                                </div>
                                <p class="mb-auto" v-html="note.note"></p>
                                <p class="mb-auto text-muted" v-html="note.end_date"></p>
                            </div>
                        </div>
                    </div>       
                </div>
        </div>
    </div>    
</body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script>
const notes = new Vue({
    el: '#notes',
    data () {
        return {
            notes: [],
            selected: 'A',
            checked: false,
            users: [],
            types: [
            { text: 'Tipo 1', value: '1' },
            { text: 'Tipo 2', value: '2' },
            { text: 'Tipo 3', value: '3' }
            ],
        }
    },
    created () {
        fetch('http://127.0.0.1:8000/api/users').then(response => response.json())
        .then(json => {
            this.users = json
            console.log(json)
        })
        fetch('http://127.0.0.1:8000/api/notes').then(response => response.json())
        .then(json => {
            this.notes = json
            console.log(json)
        })
    },
    methods: {
        submit: function (event) {
        const requestOptions = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ title: "Vue POST Request Example" })
        };
        fetch("https://jsonplaceholder.typicode.com/posts", requestOptions)
            .then(response => response.json())
            .then(data => (this.postId = data.id));
            }
            }
        })
</script>